{% load static %}
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>CRDL</title>
    <!-- General CSS Files -->
     <!-- General CSS Files -->
    <link rel="stylesheet" href="{% static 'authentication/css/app.min.css' %}">
    <link rel="stylesheet" href="{% static 'authentication/bundles/datatables/datatables.min.css' %}">
    <link rel="stylesheet" href="{% static 'authentication/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css' %}">
    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static 'authentication/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'authentication/css/components.css' %}">
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="{% static 'authentication/css/custom.css' %}">
    <link rel='shortcut icon' type='image/x-icon' href="{% static 'authentication/img/favicon.ico' %}" />
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.2.2/dist/echarts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Load jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Load Raphaël -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.3.0/raphael.min.js"></script>
    <!-- Load Morris.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <!-- Load Morris.js CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">    {% comment %} <script src="https://cdn.jsdelivr.net/npm/echarts@5.2.2/dist/echarts.min.js"></script> {% endcomment %}



    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />


</head>
